__pycache__/
*.pyc

/run/*
!/run/logs.txt

/.idea/

/database/CamVid/train/*
/database/CamVid/trainannot/*
/database/CamVid/val/*
/database/CamVid/valannot/*
/database/CamVid/test/*
/database/CamVid/testannot/*

/database/SUNRGBD/sunrgbd_test_image/*
/database/SUNRGBD/sunrgbd_train_image/*
/database/SUNRGBD/sunrgbd_train_test_labels/*